.entry {
    max-width: 1500px;
    max-height: 1500px;
    width: 100%;
    height: 225px;

    border-radius: 16px;
    overflow: hidden;

    color: whitesmoke !important;
    position: relative; /* Children position: absolute only works if this is relaltive */
}

/* Common Properties */

.entry-info, .entry-filter, .entry-background {
    position: absolute;
    top: 0;
    left: 0;
}

.entry-info, .entry-filter {
    width: 100%;
}

.entry-background {
    width: 1500px;
}

/* Content section for entry */

.entry-info {
    height: 100%;
    padding: 10px 20px;
    z-index: 9;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}

.title-row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-row .push-left, .title-row .push-right {
    display: inline-block;
    width: fit-content;
}

.title-row .push-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.entry-source {
    cursor: pointer;
}

.entry-title {
    font-size: 30px;
}

.entry-period {
    font-size: 25px;
}

.entry-items {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
}

.entry-items ul {
    margin-left: 15px;
    list-style-type: circle;
}

.entry-items ul li {
    list-style-type: circle;
}

.entry-tags {
    font-size: 18px;
}

.entry-items ul li {
    text-align: start;
}

/* Filter & Background */

.entry-filter {
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 8;
}

.entry-background {
    height: auto;
    z-index: 7;

    filter: blur(10px);
}

