/* Might move .logo to a separate file for its own component later on */
.logo {
    width: 70px;
    height: 70px;
}

/* nav-bar */
#navbar {
    /* Box positioning */
    position: fixed;
    width: 100%;
    height: max-content;
    left: 0px;
    top: 0px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    padding: 10px;
    gap: 60px;

    /* Background & Border & Text */
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 1) 185%);
}

#navbar div {
    vertical-align: center;
    width: max-content;
    height: max-content;
}

/* navigation */
#navbar div:first-child {
    /* Auto layout */
    display: flex;
    align-items: left;
    gap: 25px;
    padding: 10px 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-item {
    font-size: 21px;
    /*display: inline-block;*/
    /* center contents */
    display: flex;
    align-items: center;
    text-align: center;

    width: max-content;
    color: #FFFFFF;
    text-decoration: none !important;
}

/* socials */
#navbar div:last-child {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 25px;
    padding: 0 0 0 80px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* socials navigation */
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: max-content;
    gap: 6px;
    text-decoration: none !important;
    font-size: 21px;
}


#twitch-logo {
    color: indigo;
}

#kick-logo {
    color: greenyellow;
}

#yt-logo {
    color: red;
}

.stick-bold {
    font-family: 'Stick No Bills', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.stick-medium {
    font-family: 'Stick No Bills', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400
}