#navigation {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center; /*Change this to flex-start flex-end etc to align differently in navbar*/
    vertical-align: center;
    padding: 10px 30px;
    
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0px;
    top: 0px;
    z-index: 99;
    background-color: transparent;
    vertical-align: center;
}

#navigation nav {
    height: 100%;
}

.rstack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#navigation li, a, button {
    font-size: 21px;
    color: #edf0f1;
    vertical-align: center;
}

.rstack .logo {
    margin-right: 20px;
}

.logo {
    cursor: pointer;
    border-style: 2px solid;
    color: whitesmoke;
}
 /*
#logos {
    margin-right: 10px;
}
*/

#logos, #logos ul {
    height: 25px;
}

#logos li {
    padding: 0px 6px;
    vertical-align: center;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav_links li a {
    transition: all 0.15s ease 0s;
    text-decoration: none !important;
}

.nav_links li a:hover {
    color: rgb(68, 209, 111);
}

/*
    Not yet used, but keeping the code just in case
*/
#navigation button {
    padding: 6px 18px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ease 0s;
}

#navigation button:hover {
    background-color: rgb(68, 209, 111);
}