/* Might move .logo to a separate file for its own component later on */
.logo {
    width: 70px;
    height: 70px;
}

/* nav-bar */
#navbar {
    /* Box positioning */
    box-sizing: border-box;

    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px 15px 25px;
    gap: 70px;

    /* Background & Border */
    background: linear-gradient(180deg, rgba(53, 53, 53, 0.5) 0%, rgba(155, 155, 155, 0.5) 185%);
}

/* navigation */
#navbar:first-child {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;

    width: 703px;
    height: 70px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-item {
    font-family: 'Stick No Bills';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /*display: inline-block;*/
    /* center contents */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* socials */
#navbar:last-child {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;

    width: 400px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* socials navigation */
.socials {
    /*In case you need to add shared features for all socials logos*/
}
/* twitch logo */
#twitch-logo {
    /* Width & Height */
}
/* kick logo */
#kick-logo {
    /* Width & Height */
}
/* youtube logo */
#yt-logo {
    /* Width & Height */
}
