* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Fonts */

.stick-medium {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

.stick-semibold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.stick-bold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}