* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  /* background-color: #FFFDD0; #222*/
  background-color: #0a000d ;
  
}

/* Fonts */

/* FONT: Stick No Bills */

.stick-medium {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

.stick-semibold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.stick-bold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

/* FONT: Roboto */

.roboto-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* FONT: Underdog */

.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.underdog-bold {
  font-family: "Underdog", system-ui;
  font-weight: 600;
  font-style: normal;
}

/* FONT: Handjet */

.handjet-regular {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}
.handjet-medium {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}
.handjet-semibold {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.handjet-bold {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

/* FONT: Playwrite */
.playwrite-regular {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.playwrite-italic {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.playwrite-medium {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playwrite-semibold {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.playwrite-bold {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}