* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #222;
}

/* Fonts */

.stick-medium {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

.stick-semibold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.stick-bold {
  font-family: 'Stick No Bills', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.underdog-bold {
  font-family: "Underdog", system-ui;
  font-weight: 600;
  font-style: normal;
}