.aboutme {
    width: 100%;
    height: 1100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 150px;
    /* background-color: #390043; */ /* #4c005a, #6a1292 */
    /* background: radial-gradient(#340043,#1e0026 60%, #0a000d 95%); */
    /* background: radial-gradient(#858159, #FFFDD0 90%); */
    background: radial-gradient(#340043, transparent 70%); /* #1e0026 45%, */
}

.aboutme .title, .aboutme .middle, .aboutme .bottom {
    text-align: center;
    justify-content: center;
}

.aboutme .middle, .aboutme .bottom {
    color: #f5f5f5;
}

.aboutme .title {
    font-size: 6.2rem;
    color: #f5f5f5;
    text-shadow: 4px 4px #7c0808, 3px -1px #107a30; /* #290030 */
}

.aboutme .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-shadow: 4px 4px #290030;
}

.aboutme .middle {
    font-size: 2.8rem;
}

.aboutme .bottom {
    font-size: 2.1rem;
}

.aboutme-link {
    cursor: pointer;
    /*text-decoration-color: #ca9945;*/
    text-decoration: none;
    color: #ca9945;
    font-size: 2.8rem;
    letter-spacing: 1.2;
    line-height: 1.6;
}