#education {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: -130px;
}

/* Navigation Items */

#education .card-nav-container {
    width: 75px;
    height: 100%;
    cursor: pointer;
}

.card-back, .card-forward {
    width: 75px;
    height: 75px;
    opacity: 1;
    transition: ease-out 500ms;
    position: relative;
    z-index: 11;
}

.card-back {
    transform: rotate(180deg);
}

.card-nav-container:hover .card-back, .card-nav-container:hover .card-forward {
    opacity: 0.4;
}

/* Card display */
#education .h-flex-container {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

#education .h-flex-gradient {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #222, #22222200 40%, #22222200 60%,#222);

    position: relative;
    z-index: 9;

    pointer-events: none;
}

#education .h-flex {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: fit-content;
    padding-top: 0px 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;

    position: relative;
    z-index: 8;
}

/* Mover cards around depending on state */


.c-first, .c-second, .c-third {
    transition: transform ease-out 1000ms;
}

.c-first {
    order: 1;
    scale: 0.7;
}

.c-second {
    order : 2;
    scale: 1;
}

.c-third {
    order: 3;
    scale: 0.7;
}

.mcmaster .card .gradient {
    background: linear-gradient(to right, #7A003C, #FDBF57);
}

.lcs .card .gradient {
    background: linear-gradient(to right, #0e7967, #0a5f91);
}

.sj .card .gradient {
    background: linear-gradient(to right, #FCDE05, #2e4e9b);
}

.c-first:hover .card, .c-third:hover .card {
    cursor: auto;
    transform: none !important;
}


@media only screen and (max-width: 1000px) {
    #education > .h-flex {
        flex-direction: column;
    }
}